<!doctype html>
<html lang="en">
  <head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/columns.css">

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <main class="container">
      <section class="comparison-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Price Per Night</th>
                  <th>Guest rating</th>
                  <th>Neighborhood</th>
                  <th>Wifi</th>
                  <th>Breakfast</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Mercure Amsterdam Sloterdijk Station</th>
                  <th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">Inntel Hotels Amsterdam Zaandam</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">Golden Tulip Amsterdam West</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
        </section>
        <section class="comparison-table">
            <h2>Compare to similar properties</h2>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <article class="card">
                    <header class="title-header">
                      <h3>Mercure Amsterdam Sloterdijk Station</h3>
                    </header>
                    <div class="card-block">
                      <div class="img-card">
                        <img src="//placehold.it/300x250" alt="Movie" class="w-100" />
                      </div>
                      <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      <a href="https://www.booking.com/hotel/de/nhberlinmitte.en-gb.html?label=gen173nr-1DCAEoggJCAlhYSDNiBW5vcmVmaKkBiAEBmAEuwgEDYWJuyAEM2AED6AEBkgIBeagCBA;sid=81782a2c60baa9c311001afe2d6fc088;checkin=2017-07-28;checkout=2017-07-29;dist=0;dotd_fb=1;group_adults=2;promo=60570;sb_price_type=total;srpvid=fdcc39d0f82800a8;type=total&#hotelTmpl/#individualrooms" class="btn btn-primary  btn-block">Book now</a>
                    </div>
                  </article>
                </div>
            </div>
        </section>
    </main>

    <script src="../../static/js/custom.js"></script>
  </body>
</html>
